{% extends 'user_registration_base.html' %}
{% block main %}
<div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
        <h1 class="logo"><a href="{% url 'blog:index' %}">Blog</a></h1>
        <h3>Change Password</h3>
        <form class="form" action="{% url 'users:password_change' %}?next={{ next }}" method="post" >
            {% csrf_token %}
            <p>Username:</p>
            <p style="font-weight:700" >{{user.get_username}}</p>
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class= "help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Confirm</button>
            <!-- <input type="hidden" name="next" value="{{ next }}"/> -->
        </form>
    </div>
</div>
{% endblock main %}