{% extends "full-width-base.html" %}
{% load blog_tags %}
{% block mainframe %}
    <main class="col-md-8">
        {% block main %}
        {% endblock main %}
    </main>
{% endblock mainframe %}
{% block aside %}
    <aside class="col-md-4">
        {% block toc %}
        {% endblock toc %}
        <div class="widget widget-recent-posts">
            <h3 class="widget-title">Recent Articles</h3>
            {% get_recent_posts as recent_post_list %}
            <ul>
                {% for post in recent_post_list %}
                <li class="opacity_on_hover">
                    <div class="limit_length_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
                </li>
                {% empty %}
                No Article
                {% endfor %}
            </ul>
        </div>
        <div class="widget widget-archives">
            <h3 class="widget-title">Archive</h3>
            {% archives as date_list %}
            <ul>
                {% for date in date_list %}
                <li class="opacity_on_hover">
                    <a href="{% url 'blog:archive' date.year date.month %}">{{ date.year }} - {{date.month}}</a>
                </li>
                {% empty %}
                No Archive
                {% endfor %}
            </ul>
        </div>

        <div class="widget widget-category">
            <h3 class="widget-title">Category</h3>
            {% get_categories as category_list %}
            <ul>
                {% for category in category_list %}
                <li class="opacity_on_hover">
                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }} 
                        <span class="post-count">({{ category.num_posts }})</span></a>
                </li>
                {% empty %}
                No Category
                {% endfor %}
            </ul>
        </div>

        <div class="widget widget-tag-cloud">
            <h3 class="widget-title">Tag</h3>
            {% get_tags as tag_list %}
            <ul>
                {% for tag in tag_list %}
                <li class="opacity_on_hover">
                    <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                </li>
                {% empty %}
                No Tag
                {% endfor %}
            </ul>
        </div>
        <div class="rss">
            <a href="{% url 'rss' %}" target="_blank"><span class="ion-social-rss-outline"></span> RSS </a>
        </div>
    </aside>
{% endblock aside %}